body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 0px;
	margin: 0px;
	background-color: #FFFFFF;
	color:#555555;
}
a, a:visited {
	text-decoration: none;
	color:#0000FF;
}
a:hover {
	color: #990000;
}

ul,ol{
	margin-top:5px;
	margin-bottom:5px;
}
li{
	letter-spacing:150%;
	padding:2px;
}
h1{
	margin-top:5px;
	margin-bottom:5px;
	font-size:20px;
	font-weight:bold;
}
h2{
	margin-top:3px;
	margin-bottom:3px;
	font-size:16px;
	font-weight:bold;
}
h3{
	margin-top:1px;
	margin-bottom:1px;
	font-size:14px;
	font-weight:bold;
}

.bg_menu {
	font-size: 90%;
	text-align: left;
	margin: 0;
	color: #333;  
    background: #E6ECF6 url('images/bg_menu.gif') repeat-x bottom left;  
    border-bottom: 1px solid #A7ACBF; 
    padding: 0.3em;
}

.bg_block { font-size: 1.0em; background: #F5F5F5 url("images/bg_block.gif") repeat-x top left; border: 1px solid #eee; padding: 0.5em 1em; margin-bottom: 10px;}